.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

h2 {
    font-weight: bold;
}

ion-card {
    display: flex;
    flex-direction: column;
    margin: 10 !important;
    width: 100%;
}