<ion-tabs>
    <ion-tab-bar slot="bottom" class="tab-animate">
        <ion-tab-button tab="dashboard">
            <ion-icon name="reader-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="pedidos">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="cobros">
            <ion-icon name="cash-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>