<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" tappable>
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label>Facturas</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="scanCode()" tappable>
            <ion-icon name="barcode-outline"></ion-icon>
            <ion-label>Lector</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab3" tappable>
            <ion-icon name="medical-outline"></ion-icon>
            <ion-label>Detalle</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="gps" tappable>
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>GPS</ion-label>
        </ion-tab-button> -->
    </ion-tab-bar>
</ion-tabs>